.App {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right:10%;
}
.App-header {
  background-image: url('./assests/image6.jpeg');
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-end;
  margin-left: 10px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-position-y: center;
  
}
.App-header > h1 {
  font-size: 70px;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 5px;
  margin:0;

}
.App-header >h2{
  margin: 1px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 100;
}
.App-header > h3 {
  margin : 1px;
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 70;

}
.Toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
  border: goldenrod 2px solid;
}
.Body {
  background-image: url('./assests/image4.jpg');
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.AddButton {
  border-radius: 50px;
  width: 100px;
  height: 100px;
  z-index: 5px;
  position: fixed;
  bottom: 20px;
  right: 11%;
  background-color: #00887A;
}
.Container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.AddButton:hover {
  background-color: salmon;
}

@media (max-width:500px) {
  .AddButton {
    width: 60px;
    height: 60px;
    right: 5%;
  }
  .App-header {
    display: none;
  }
  .App {
    margin-left: 0%;
    margin-right: 0%;
  }
}